 <div class="login" id="login">
        <form action="/login" method="post" class="login__form" id="login-signin">
            <h2 class="login__title">Sign In</h2>
			 {% for message in get_flashed_messages() %}
				{% if 'successfully' in message %}
					<div class="alert2">{{ message }}</div>
				{% else %}
					<div class="alert">{{ message }}</div>
				{% endif %}
            {% endfor %}
            <div class="login__group">
                <label for="text" class="login__label">Username</label>
                <input type="text" name="username" class="login__input" placeholder="Enter your Username" id="text">
            </div>
            <div class="login__group">
                <label for="password" class="login__label">Password</label>
                <input type="password" name="password" class="login__input" placeholder="Enter your Password" id="password">
            </div>
            <div>
                <p class="login__signup">
                    You don't have an account? <a href="#" class="login__link" id="signup-btn">Sign Up</a>
                </p>

                <a href="#" class="login__forgot">
                    Forgot Your Password?
                </a>
                <button type="submit" class="login__button">Log In</button>
            </div>
        </form>

		<form action="/register" method="post" class="login__form" id="login-signup" style="display:none;">
            <h2 class="login__title">Sign Up</h2>
			{% for message in get_flashed_messages() %}
				<div class="alert">{{ message }}</div>
			{% endfor %}
            <div class="login__group">
                <label for="text" class="login__label">Username</label>
                <input type="text" name="username" class="login__input" placeholder="Enter your Username" id="text">
            </div>

			<div class="login__group">
                <label for="email" class="login__label">Email</label>
                <input type="email" name="email" class="login__input" placeholder="Enter your Email" id="email">
            </div>
            <div class="login__group">
                <label for="password" class="login__label">Password</label>
                <input type="password" name="password" class="login__input" placeholder="Enter your Password" id="password">
            </div>
			<div class="login__group">
                <label for="repassword" class="login__label">Re-enter Password</label>
                <input type="password" name="confirm_password" class="login__input" placeholder="Re-enter Password" id="repassword">
            </div>
            <div>
                <p class="login__signup">
                    You already have an account? <a href="#" class="login__link" id="signin-btn">Sign In</a>
                </p>

                <button type="submit" class="login__button">Sign Up</button>
            </div>
        </form>

        <i class="ri-close-line login__close" id="login-close"></i>


    </div>
